[client]
#socket = /Users/diego/SoftwareIS/.MySQLData/mysqld.sock
socket = /Users/diego/.MySQLData/mysqld.sock

[mysqld]
#pid-file = /Users/diego/SoftwareIS/.MySQLData/mysqld.pid
pid-file = /Users/diego/.MySQLData/mysqld.pid
#socket = /Users/diego/SoftwareIS/.MySQLData/mysqld.sock
socket = /Users/diego/.MySQLData/mysqld.sock
basedir = /usr/local/mysql-5.7.10-osx10.10-x86_64
#datadir = /Users/diego/SoftwareIS/.MySQLData
datadir = /Users/diego/.MySQLData
tmpdir = /tmp
